
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=SpQ2xvhVw/le7MIZKmjsfA==,JuKxmBlq0+HEtg64CSMSvg==,9vbBirn4vqwIclhdyyvCPg==,d/Cmvd5QxrQDir1eEZX8FA==
API_TOKEN_SALT=EeH4qiKEUMw6APbpp+DhyA==
ADMIN_JWT_SECRET=j5mKtzPkfF9BzaQYJPK9Kg==
TRANSFER_TOKEN_SALT=0Glxm9+ec1X0QXBaEXQUJA==

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=ep-holy-frost-a4g4mc3t-pooler.us-east-1.aws.neon.tech
DATABASE_PORT=5432
DATABASE_NAME=neondb
DATABASE_USERNAME=neondb_owner
DATABASE_PASSWORD=npg_oJKl0SM8DchN
DATABASE_SSL=true
DATABASE_FILENAME=
JWT_SECRET=VAmlliRF54OLUdhqYlVrdw==